body {
    font-family: 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 14px;
    line-heigth: 1.6;
    color: #000000;
    background-color: #CCCCCC;
    margin: 0;
}

h1 {
    font-size: 16px;
    text-transform: uppercase;
    color: red;
    margin-top: 25px;
    margin-left: 100px;
    text-align: left;
    text-decoration: underline;
    text-anchor: 100px;
    letter-spacing: 20px;
    text-indent: 40px;
    word-spacing: 1px;
    width: 220px;
}
h2{
    color: black;
}
label{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 10px;
    color: black;
    font-size: 150%;
}

input{
    color: black;
}

.container {
    width: 100%;
    background-color: #CCCCCC;
    margin: 0;
}

.header {
    background-color: #8d744d;
    text-align: center;
    position: fixed;
    left:0;
    top: 0;
<<<<<<< HEAD
    max-height: 10%;
    min-height: 10%;
=======
    /*max-height: 10%;*/
   /* min-height: 10%;*/
>>>>>>> eb46ba2c2536532799aecb6b58379e0fba187aa2
    height: 70px;
    width: 100%;
}

.content {
    margin-top: 70px;
    margin-left: 30%;
   /* min-height: 80%;*/
   /* max-height: 80%;*/
    height: 80%;
    width:70%;
    background-color: #e4c831;
    display: inline-block;
}


.sidebar {
    width: 30%;
    background-color: #D7C6AB;
    text-align: center;
    display: inline-block;
    -webkit-margin-end: 0;
    position: fixed;
    left:0;
    bottom: 70px;
    top: 70px;
    max-height: 80%;

}

.footer {
    clear: both;
    background-color: #8d744d;
    text-align: center;
    position: fixed;
    left:0;
    bottom: 0;
    width: 100%;
<<<<<<< HEAD
    min-height: 10%;
=======
   /* min-height: 10%;*/
>>>>>>> eb46ba2c2536532799aecb6b58379e0fba187aa2
    height: 70px;
}

.tabla {
    border-collapse: collapse;
    border: 1px solid black;
}


.encabezado {
    padding: 5px;
    font-size: 16px;
    background-color: #314755;
    background-image: url(http://quiniapuesta.webcindario.com/Copia%20de%20kde-air-1920x1200.jpg);
    background-repeat: repeat-x;
    color: #FFFFFF;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-right-style: solid;
    border-bottom-style: solid;
    border-right-color: #558FA6;
    border-bottom-color: #558FA6;
    font-family: “Trebuchet MS”, Arial;
    text-transform: uppercase;

}

th, td {
    padding: 5px;
    text-align: center;
}

.filaImpar {
    padding: 5px;
    font-size: 16px;
    background-color: #93c7d2;
    background-image: url(http://quiniapuesta.webcindario.com/Copia%20de%20kde-air-1920x1200.jpg);
    background-repeat: repeat-x;
    color: #FFFFFF;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-right-style: solid;
    border-bottom-style: solid;
    border-right-color: #558FA6;
    border-bottom-color: #558FA6;
    font-family: “Trebuchet MS”, Arial;
    text-transform: uppercase;
}

.filaPar {
    padding: 5px;
    font-size: 16px;
    background-color: #658ed2;
    background-image: url(http://quiniapuesta.webcindario.com/Copia%20de%20kde-air-1920x1200.jpg);
    background-repeat: repeat-x;
    color: #FFFFFF;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-right-style: solid;
    border-bottom-style: solid;
    border-right-color: #558FA6;
    border-bottom-color: #558FA6;
    font-family: “Trebuchet MS”, Arial;
    text-transform: uppercase;
}
ul {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 10px;
    color: black;
    font-size: 150%;
}